<div class="stats-container">
  <h2>Statistics</h2>

  @if (streak > 0) {
  <div class="streak">
    <span>🔥 Streak: {{ streak }} days</span>
  </div>
  }

  <div><strong>Cards Guessed Today:</strong> {{ guessedToday }}</div>
  <div><strong>Cards Guessed This Week:</strong> {{ guessedThisWeek }}</div>
  <div><strong>Cards Guessed This Month:</strong> {{ guessedThisMonth }}</div>
  <div><strong>Game Played Today:</strong> {{ statsToday }}</div>
  <div><strong>Game Played This Week:</strong> {{ statsThisWeek }}</div>
  <div><strong>Game Played This Month:</strong> {{ statsThisMonth }}</div>

  <h3>All Stats</h3>
  <ul>
    @for (stat of statsList; track $index) {
      <li>{{ stat }}</li>
    }
  </ul>
  
</div>
