<p>quiz-manager works!</p>

<div class="quiz-manager">
  @if (quizId) {
  <app-quiz [quizId]="this.quizId"></app-quiz>
  <button (click)="endQuiz()">Go back to menu</button>
  } @else {
  <h2>Start a Quiz</h2>

  <fieldset>
    <legend>Select Tags:</legend>
    @for (tag of tagOptions; track tag) {
    <label>
      <input type="checkbox" [value]="tag" (change)="toggleTag(tag)" />
      {{ tag }}
    </label>
    } @empty {
    <span>No tags available</span>
    }
  </fieldset>

  <button (click)="startQuiz('Name', 'Capital')">Name Capital</button>
  <button (click)="startQuiz('Capital', 'Name')">Capital Name</button>
  <button (click)="startQuiz('Map', 'Name+Capital')">Map Name(Capital)</button>
  <button (click)="startQuiz('Flag', 'Name+Capital')">Flag Name(Capital)</button>
  }
</div>
