@if (!this.registerView) {
<div class="login-container">
  <h2>Login</h2>
  @if (this.alert) {
  <p>{{ this.alert }}</p>
  }

  <label for="username">Username:</label>
  <input
    type="text"
    id="username"
    [(ngModel)]="username"
    name="username"
    required
  />

  <label for="password">Password:</label>
  <input
    type="password"
    id="password"
    [(ngModel)]="password"
    name="password"
    required
  />

  <button (click)="login()">Login</button>

  <div>
    <p>Dont have an account?</p>
    <button (click)="openRegisterView()">Register</button>
  </div>
</div>
} @else {
<div class="register-container">
  <h2>Register</h2>
  @if (this.alert) {
  <p>{{ this.alert }}</p>
  }

  <label for="reg-username">Username:</label>
  <input
    type="text"
    id="reg-username"
    [(ngModel)]="usernameRegister"
    name="username"
    required
  />

  <label for="reg-password">Password:</label>
  <input
    type="password"
    id="reg-password"
    [(ngModel)]="passwordRegister"
    name="password"
    required
  />

  <button (click)="register()">Register</button>

  <br>

  <button (click)="closerRegisterView()">login</button>
</div>
}
