<div class="quiz-card">
  <h2>Quiz</h2>
  <div>
    <button (click)="toggleCard()">Flip</button>
    <button (click)="submitGuess(true)">Right</button>
    <button (click)="submitGuess(false)">Wrong</button>
  </div>
  <div class="card-content">
    @if (this.currentPlace) {
    <p>{{ this.getLength() }} Cards left</p>
    @if (this.frontCategory == Category.FLAG || this.frontCategory ==
    Category.MAP) {
    <img [src]="getFront()" />
    } @else {
    <p>{{ getFront() }}</p>
    @if (currentPlace.info) {
    <p>{{ "ℹ️ " + currentPlace.info }}</p>
    } } @if (showBack) {
    <p>{{ getBack() }}</p>
    @if (currentPlace.capitalInfo) {
    <p>{{ "ℹ️ " + currentPlace.capitalInfo }}</p>
    } } } @else {
    <p class="quiz-finished">🎉 The quiz is done! 🎉</p>
    <p>{{ loadSummary() }}</p>
    <p>{{ getTopFiveAttempts() }}</p>
    }
  </div>
</div>
