<p>quiz works!</p>
<!-- <img src="media/flags/ug-flag-aland_islands.svg" alt="Uganda Flag">
<img src="media/maps/ug-map-akrotiri_and_dhekelia.png" alt="Akrotiri and Dhekelia Map"> -->

<div class="quiz-card">
  <h2>Quiz</h2>
  <div class="card-content">
    @if (card && card.finished === false) {
      @if (card.front == 'Flag' || card.front == 'Map') {
        <img [src]="getFront()" />
      } @else {
        <p>{{ getFront() }}</p>
        @if (card.place.info) {
          <p>{{ "ℹ️ " + card.place.info }}</p>
        }
      }
      @if (showBack) {
        <p>{{ getBack() }}</p>
        @if (card.place.capitalInfo) {
          <p>{{ "ℹ️ " + card.place.capitalInfo }}</p>
        }
      }
    } @else {
      <p class="quiz-finished">🎉 The quiz is done! 🎉</p>
    }
  </div>
  <div>
    <button (click)="toggleCard()">Flip</button>
    <button (click)="submitGuess(true)">Right</button>
    <button (click)="submitGuess(false)">Wrong</button>
  </div>
</div>
