<p>quiz works!</p>
<!-- <img src="media/flags/ug-flag-aland_islands.svg" alt="Uganda Flag">
<img src="media/maps/ug-map-akrotiri_and_dhekelia.png" alt="Akrotiri and Dhekelia Map"> -->

<div class="quiz-card">
  <h2>Quiz</h2>
  <div class="card-content">
    @if (this.currentPlace) {
      @if (this.quiz.front == Category.FLAG || this.quiz.front == Category.MAP) {
        <img [src]="getFront()" />
      } @else {
        <p>{{ getFront() }}</p>
        @if (currentPlace.info) {
          <p>{{ "ℹ️ " + currentPlace.info }}</p>
        }
      }
      @if (showBack) {
        <p>{{ getBack() }}</p>
        @if (currentPlace.capitalInfo) {
          <p>{{ "ℹ️ " + currentPlace.capitalInfo }}</p>
        }
      }
      <div>
        <button (click)="toggleCard()">Flip</button>
        <button (click)="submitGuess(true)">Right</button>
        <button (click)="submitGuess(false)">Wrong</button>
      </div>
      <p>{{this.quiz.places.length + 1}} Cards left</p>
    } @else {
      <p class="quiz-finished">🎉 The quiz is done! 🎉</p>
      @if (this.stat) {
        <p>{{this.stat.front}}</p>
      }
    }
  </div>
</div>
